#TOC {
position: fixed;
left: 0;
top: 0;
width: 250px;
height: auto;
overflow:auto;
}

body .main-container{
  max-width: 1800px !important;
  margin: auto;
  margin-left:210px;
  line-height: 20px;
}
body {
  max-width: 1800px !important;
}