#TOC {
position: fixed;
left: 0px;
top: 0px;
right: 0px;
width: 200px !important;
height: auto;
overflow: auto;
}

body .main-container{
  max-width: 175% !important;
  margin-left: -300px !important;
  margin-right: 0px !important;
  line-height: 20px;
}
